.vidstover{
  font-size: 24px!important;
  color: var(--tekstfarve)!important;
  font-family: var(--overskrift-font)!important;
  font-weight: bold!important;
}
.vidsttekst{
  line-height: 2.5!important;
  font-size: 13px!important;
  color: var(--tekstfarve)!important;
  font-family: var(--tekst-font)!important;
}
.vidstknap{
  border: 0!important;
  background: var(--ikonercta) !important;
  color:white!important;
  padding: 12px 50px!important;
  border-radius: 100px!important;
  cursor: pointer!important;
  transition: 0.5s!important;
  margin-top: 5px!important;
  font-family: var(--tekst-font) !important;
  font-size: 13px!important;
}

.d-block{
  border-radius: 20px;
}


@media screen and (min-width: 768px){
  .carousel{
    padding: 50px!important;
  }

}


@media screen and (min-width: 1024px){
  .carousel{
    padding: 0!important;
  }
  .vidsttekst{
    font-size: 16px!important;
  }
  .vidstover{
    font-size: 36px!important;
  }

}

