.body{
  background-image: url("image/Design til baggrund - Desktop og Tablet.svg");
}


.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  padding: 3rem;
  text-align: center;

}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}










@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}