.logosvg{
  width: 180px;
  height: 110px;

}

.navbar{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar-expand-lg .navbar-nav .nav-link{
  padding-right: 1rem;
}


.navbar-toggler{
  border: 0!important;
  color: transparent!important;
}

.dropdown-menu{
  width: 100%;
}

.navbar-collapse{
  justify-content: flex-end!important;
}
.navbar-brand{
  font-size: 26px;
  margin-left: 5px;
  font-weight: bold;

}
.nav-link{
  font-size: 14px;
  font-weight: bold;
  margin-left: 15px;
  text-align: center;
  margin-top: 10px;
  font-family: var(--overskrift-font);
}

.dropdown-item{
  color: var(--tekstfarve) !important;
  font-size: 14px!important;
  font-family: var(--overskrift-font)!important;
  text-align: center!important;
}

.navcon{
  margin-top: 15px;
  margin-bottom: 15px;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.dropdown-item.active, .dropdown-item:active{
  background-color: transparent!important;
}

.header-cta-info {
  display: none;
  min-width: 240px;
  padding-top: 6px;
}

.header-cta-info .contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;

}

.header-cta-info .text {
  font-size: 12px;


}

.header-cta-info .phone {
  font-size: 22px;
  font-weight: 700;
  color: white;
}

@media screen and (min-width: 768px){
  .header-cta-info{
    display: flex;
  }

  .logosvg{
    width: 190px;
  }
  .nav-link{
    font-size: 14px;
    margin-top: 15px;
  }
  .navbar-brand{
    margin-left: 20px;
  }
}

@media screen and (min-width: 969px){
  .navbar-brand{
    margin:  0 0 0 80px;
  }

  .navbar-collapse{
    margin-right: 40px;
  }

  .dropdown-menu{
    text-align: left;
  }


}

@media screen and (min-width: 1024px){
  .navbar-brand{
    margin-left: 80px;
  }
  .nav-link{
    font-size: 15px;
    margin-top: 0;

  }
  .dropdown-item{
    font-size: 15px;
    text-align: left!important;
  }
  .navbar-collapse{
    margin-right: 100px!important;
  }
  .logosvg{
    width: 210px;
  }
  .dropdown-menu{
    width: 250px !important;
  }
}
