.BMS{
  background: url(../image/background-desktop-venstre.png);
  background-size: cover;
}
.hovedtitle{
  font-family: var(--overskrift-font);
  font-size: 30px;

}
.hero-full-screen {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: url("https://images.pexels.com/photos/378273/pexels-photo-378273.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb") center center no-repeat;
  background-size: cover;
}

.hero-full-screen .middle-content-section {
  text-align: center;
  color: #fefefe;
}

.hero-full-screen .top-content-section {
  width: 100%;
}

.hero-full-screen .bottom-content-section {
  padding: 1rem;
}

.hero-full-screen .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #fefefe;
}

.hero-full-screen .top-bar {
  background: transparent;
}

.hero-full-screen .top-bar .menu {
  background: transparent;
}

.hero-full-screen .top-bar .menu-text {
  color: #fefefe;
}

.hero-full-screen .top-bar .menu li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-full-screen .top-bar .menu a {
  color: #fefefe;
  font-weight: bold;
}


.omcon2{
  background: url(../image/background-desktop-højre.png);
}


.om1over{
  font-size: 22px;
  color: var(--tekstfarve);
  font-weight: bold;
  font-family: var(--overskrift-font);
}

.om1tekst{
  color: var(--tekstfarve);
  font-size: 13px;
  line-height: 2.5;
  font-family: var(--tekst-font);
}

@media screen and (min-width: 768px){
  .hovedtitle{
    font-size: 32px;
  }
  .omcon{
    margin-bottom: 60px;
  }
  .om1sek{
    padding: 15px;
  }
  .om2sek{
    padding: 0;
  }
  .om2billede{
    margin-top: 50px;
  }


}

@media screen and (min-width: 1024px){


  .om1sek{
    padding: 50px;
  }

  .om1over{
    font-size: 24px;
  }
  .om1tekst{
    font-size: 14px;
  }
  .om1line{
    width: 15%;
  }
  .om1knap{
    font-size: 15px;
  }
  .om2billede{
    margin-top: 30px;

  }

  .hovedtitle{
    font-size: 34px;
  }

}

.booksektion {
  width:100%;
  height: 55vh;
  background: #707070;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 60px;
}

.bookosek{
  text-align: center;
}
.vidstknap{
  border: 0!important;
  background: var(--ikonercta) !important;
  color:white!important;
  padding: 12px 50px!important;
  border-radius: 100px!important;
  cursor: pointer!important;
  transition: 0.5s!important;
  margin-top: 5px!important;
  font-family: var(--tekst-font) !important;
  font-size: 13px!important;
}

.bookover{
  font-weight: bold;
  font-family: var(--overskrift-font);
  font-size: 22px;
}
.booktekst{
  line-height: 2.5;
  font-size: 13px;
  font-family: var(--tekst-font);
}

@media screen and (min-width: 768px){
  .bookknap{
    margin-top: 10px;
    font-size: 14px !important;

  }
  .booksektion{
    height: 35vh;
  }
  .booktekst{
    width: 350px;
  }
}


@media screen and (min-width: 1024px){
  .booksektion{
    height: 45vh;
  }
  .booktekst{
    font-size: 14px;
    width: 380px;
  }
  .bookover{
    font-size: 24px;
  }

}
