.center {
  position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prisinner{
  padding: 40px;
}

.prisover{
  font-family: var(--overskrift-font);
  font-size: 22px;
}

.pristekst{
  font-family: var(--tekst-font);
  font-size: 13px;
}
.pristotal{
  font-family: var(--tekst-font);
  font-size: 30px;
  color: var(--ikonercta);
}
 .prisberegner label{
   font-family: var(--tekst-font);
   font-size: 15px;
   line-height: 2;

 }


.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--ikonercta);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--ikonercta);
  cursor: pointer;
}

@media screen and (min-width: 768px){
  .priscon{
    width: 90%;
  }
  .prisinner{
    padding: 60px;
  }

}

@media screen and (min-width: 1024px){
  .priscon{
    width: 60% !important;
  }
  .prisinner{
    padding: 40px;
  }
  .prisover{
    font-size: 24px;
  }
  .pristekst{
    font-size: 14px;
  }

}